{% extends "wikify/base.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans %}Edit "{{ object_id }}"{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="wikify-edit">
        <h1 class="wikify-title">
            {% blocktrans %}Edit "{{ object_id }}"{% endblocktrans %}
        </h1>

        <div class="wikify-content">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="action" value="edit" />
                <button type="submit">{% trans "Save" %}</button>
                <a href="?">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
