.wikify-edit .wikify-content label {
    display: inline-block;
    vertical-align: top;
    min-width: 6em;
}

.wikify-versions ul {
    list-style: none;
    padding: 0;
}

.wikify-versions li {
    margin-top: 8px;
}

.wikify-version .wikify-comment,
.wikify-versions .wikify-comment {
    color: #777;
}

.wikify-version .wikify-dategroup .wikify-date,
.wikify-versions .wikify-dategroup .wikify-date {
    font-weight: bold;
}

.wikify-version .wikify-dategroup .wikify-versions,
.wikify-versions .wikify-dategroup .wikify-versions {
    margin-left: 1em;
}
